<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ChitChat</title>

    <!-- Bootstrap Core CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <!-- Custom Fonts -->
    <script src="https://kit.fontawesome.com/02f6453d68.js" crossorigin="anonymous"></script>
     <script src="https://kit.fontawesome.com/70fe2499f8.js" crossorigin="anonymous"></script>
    
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    
    <link href="https://fonts.googleapis.com/css?family=Pacifico:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <!--<link rel="stylesheet" href="/assets/css/checkout_style.css">-->
    <link rel="stylesheet" href="/assets/css/product_config.css">
    <link rel="stylesheet" href="/assets/css/footer_style.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <!--<link href="/assets/css/accountStyle.css" rel="stylesheet">-->
  

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
	<body>
        
        <div id = "page-container">
            <div class = "content">

<div class="background">
  <div class = "content">
    <section class="cover">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        
            <div class="navbar-nav logo" ><a href = "/">ChitChat</a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fas fa-mug-hot"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Enter/Update Inventory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link user" href="#">Admin Profile</a>
            </li>
          <!--  <li class="nav-item">
              <a class="nav-link carts" href="/shoppingCard">Shopping-Cart</a>
            </li>-->
          </ul>
          <i class="fas fa-user float-right navIcons" ></i>
          <!--<i class="fas fa-shopping-cart navIcons"></i>-->


        </div>
        
      </nav>
      <!--//////////////////////////NAV BAR BEGIN//////////////////////////-->

      <!--//////////////////////////CONTENT BEGIN//////////////////////////-->




                           


{{{ body }}}

      <!--//////////////////////////CONTENT END//////////////////////////-->
      </section>
 
    </div>

</div>

                    <!--INPUT NAVBAR HERE -->

</div>
        
	
   
    <footer class="footer">
        <div class="row">
            <div class="col-sm-4">
                <div class="icons">
                    <a href="https://www.facebook.com/chitchatcoffeematcha/"><i
                            class="fab fa-facebook fa-2x"></i></a>
                    <a href="https://www.instagram.com/chitchatla/"><i class="fab fa-instagram fa-2x"></i></i></a>
                </div>

            </div>
            <div class="col-sm-4">

                <h1 class="bottom_text">Chitchat</h1>
            </div>
            <div class="col-sm-4">
                <p class="address">(310) 820-9191 <br>1854 Sawtelle Blvd <br> Los Angeles, CA 90025</p>
            </div>
        </div>
        <div class="row rights">
            <div class="col-sm-12">
                <p class=rights>© 2020 ChitChat Coffee. All rights reserved.</p>
            </div>
        </div>
    </footer>
    </div>
   
    <!-- jQuery -->
     <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
     <!--<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

     
    <!-- Bootstrap Core JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <!-- Plugin JavaScript -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->

    
    


    <!-- Theme JavaScript -->
    <!--<script src="/assets/js/grayscale.js"></script>-->
    
   <!-- <script src="/assets/js/checkout_func.js"> //Functionality for Checkout... Needs to be after Jquery</script>-->
    <script src="/assets/js/createProduct_func.js"> //Functionality for Checkout... Needs to be after Jquery</script>
     <script src="/assets/js/login.js"></script>
     <script src="/assets/js/OrderAdminlist.js"></script>
  <!--   <script src="/assets/js/cart.js"> //Functionality for showing cart items</script>-->
    
    </div>
</body>
</html>
