
<div class="content">
    <!--Main Row-->
    <div class=row>
        <!--Left Column For Cart/Total Information-->
        <div class="costpage col-md-7">

            <!-- Center Page break-->



            <div class="cartBreakdown row">
                <h2>Cart:</h2>



                <!-- ORDER SUMMARY ---->




                <!-- Horizontal Page break-->
                <div class="horz_line"></div>
            </div>




            <div class="cartTotal row">
                <div class="col-sm-12">

                    <div class="row totalTitle ">
                        <div class="col-sm-12">
                            <h2>Order Summary:</h2>
                        </div>
                    </div>
                    <div class="row subTotal">
                        <div class="col-sm-12">
                            <div class="subTotalTitle">
                                <p>Sub-Total:</p>
                            </div>
                            <div class="subTotalPrice">$7.20</div>
                        </div>
                    </div>
                    <div class="row tax">
                        <div class="col-sm-12">
                            <div class="taxTitle">
                                <p>Tax:</p>
                            </div>
                            <div class="taxPrice">$0.52</div>

                        </div>
                    </div>
                    <div class="lineBreak row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="lightHorzLine"></div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="row orderTotal">
                        <div class="col-sm-12">
                            <div class="orderTotalText">
                                <p>Order Total:</p>
                            </div>
                            <div class="orderTotalPrice" id="orderTotalPrice">$0.52</div>

                        </div>
                    </div>




                </div>


                <!-- Right Vertical line-->
                <div class="horz_line_order"></div>
            </div>
        </div>

        <!--Right Column For Checkout Information-->
        <div class="col-md-5">
            <div class="vert_line"></div>
              <div id="paymentArea">
               
                    <form action="/checkout/charge" method="post" id="payment-form">
                     <button class="btn btn-primary btn-lg" id="stripe-button">
                             <span>Checkout </span>
                     </button>
                   </form>
                     <script>
                          $('#stripe-button').click(function(){
                               var stripe = Stripe('PUBLIC KEY');
                               var token = function(res){
                                    var $id = $('<input type=hidden name=stripeToken />').val(res.id);
                                    var $email = $('<input type=hidden name=stripeEmail />').val(res.email);
                                    $('form').append($id).append($email).submit();
                                };

                               var amount = $("#orderTotalPrice").val();
                               StripeCheckout.open({
                                     key: 'PUBLIC KEY',
                                     amount: parseInt(amount),
                                     name: 'chitchat',
                                     image: "https://stripe.com/img/documentation/checkout/marketplace.png",
                                     description: 'Purchase Products',
                                     panelLabel:  'Checkout',
                                     token:token
                             });
                         });

                             //return false;
                         //});
                   </script>
               

                    
               
             

             </div>
        </div>     


</div>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js">           
</script>
<script>




function startPageFunc(){
     
    $.ajax({
        method: "POST",
        url: "/checkout/getOrderItems",
        
    }).done(function (response) {
            
            $(".subTotalPrice").html(`$${response[0].subtotal}`)
            const taxes = response[0].subtotal*.075;
            $(".taxPrice").html(`$${taxes.toFixed(2)}`)
            const total = (response[0].subtotal + taxes)
            $(".orderTotalPrice").html(`$${total.toFixed(2)}`);
            

            for(orderItems in response){
                 let currentSubItemList = ""
                let currentAddons = JSON.parse(response[orderItems].addons);
            $.ajax({
               method: "POST",
               url: "/checkout/getProduct",
               data: { productId:response[orderItems].productId}
        
            }).then(function(product){ 
            
               
            for (let addon =0 ;addon<currentAddons.length;addon++) {
                for (ans in currentAddons[addon].question.answers){
                
                let currentText = `<div class='row subItem'><p class='leftText text1'>${currentAddons[addon].question.answers[ans].title}</p><p class='rightText text2'>$${currentAddons[addon].question.answers[ans].price}</p></div>`
                        currentSubItemList += currentText;
                }
                    }
                   

                   
                $(".cartBreakdown").append(`<div class='item row' id='item_${orderItems}'><p class='itemname itemName${orderItems}' state='closed'>${product.name}<i class='fas fa-caret-right'></i></p><p class='itemPrice'>$${product.basePrice} </p><div class='itemizedList'> ${currentSubItemList}  </div></div>`)


            
            } ).then(function(){
                    $(".itemName"+orderItems).on("click", function (event) {
                        let state = $(event.target).attr("state");
                        if (state === "open") {
                            $(event.target).attr("state", "closed")
                            $(event.target).parent().children(".itemizedList").css("height", "0px").css("padding", "0px")
                            $(event.target).parent().children(".itemizedList").css("margin-bottom", "0px");
                            $(event.target).children("i").css("transform", "rotate(0deg)")
                        } else {
                            $(event.target).attr("state", "open")
                    
                            let sectionHeight = $(event.target).parent().children(".itemizedList")[0].scrollHeight;
                    
                            $(event.target).parent().children(".itemizedList").css("height", (sectionHeight + 10) + "px").css("padding", "0px");
                            $(event.target).parent().children(".itemizedList").css("margin-bottom", "40px");
                            $(event.target).children("i").css("transform", "rotate(90deg)")
                        }
                    
                    });
                    
                });
            }
         
                    
        });
    }




document.addEventListener("DOMContentLoaded", function(event) { 
startPageFunc()

});

</script>