
<div class="content">
    <!--Main Row-->
    <div class=row>
        <!--Left Column For Cart/Total Information-->
        <div class="costpage col-md-7">

            <!-- Center Page break-->



            <div class="cartBreakdown row">
                <h2>Cart:</h2>



                <!-- ORDER SUMMARY ---->




                <!-- Horizontal Page break-->
                <div class="horz_line"></div>
            </div>




            <div class="cartTotal row">
                <div class="col-sm-12">

                    <div class="row totalTitle ">
                        <div class="col-sm-12">
                            <h2>Order Summary:</h2>
                        </div>
                    </div>
                    <div class="row subTotal">
                        <div class="col-sm-12">
                            <div class="subTotalTitle">
                                <p>Sub-Total:</p>
                            </div>
                            <div class="subTotalPrice">$7.20</div>
                        </div>
                    </div>
                    <div class="row tax">
                        <div class="col-sm-12">
                            <div class="taxTitle">
                                <p>Tax:</p>
                            </div>
                            <div class="taxPrice">$0.52</div>

                        </div>
                    </div>
                    <div class="lineBreak row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="lightHorzLine"></div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="row orderTotal">
                        <div class="col-sm-12">
                            <div class="orderTotalText">
                                <p>Order Total:</p>
                            </div>
                            <div class="orderTotalPrice">$0.52</div>

                        </div>
                    </div>




                </div>


                <!-- Right Vertical line-->
                <div class="horz_line_order"></div>
            </div>
        </div>

        <!--Right Column For Checkout Information-->
        <div class="col-md-5">
            <div class="vert_line"></div>
            <div id="paymentArea">
                <div class="paymentTitle row">
                    <div class="col-sm-12">
                        <h2> Payment:</h2>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Name on Card:</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    <div class="form-group col-md-6">

                        <label for="inputState">Where to Pay:</label>
                        <select id="inputState" class="form-control">
                            <option selected>In Store</option>
                            <option>Credit Card</option>


                        </select>

                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Card Number</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="">
                </div>



                <div class="row">
                    <div class="col-md-3">

                        <label for="inputState">Month</label>
                        <select id="inputState" class="form-control">
                            <option selected month="1">Jan</option>
                            <option month="2">Feb</option>
                            <option month="3">Mar</option>
                            <option month="4">Apr</option>
                            <option month="5">May</option>
                            <option month="6">Jun</option>
                            <option month="7">Jul</option>
                            <option month="8">Aug</option>
                            <option month="9">Sep</option>
                            <option month="10">Oct</option>
                            <option month="11">Nov</option>
                            <option month="12">Dec</option>


                        </select>
                    </div>
                    <div class="col-md-3">

                        <label for="inputState">Year</label>
                        <select id="inputState" class="form-control">
                            <option selected year="2020">2020</option>
                            <option year="2021">2021</option>
                            <option year="2022">2022</option>
                            <option year="2023">2023</option>
                            <option year="2024">2024</option>
                            <option year="2025">2025</option>
                            <option year="2026">2026</option>
                            <option year="2027">2027</option>




                        </select>
                    </div>
                    <div class="col-md-6">

                        <label for="cardCCV">CCV</label>
                        <input type="text" class="form-control" id="CCV" placeholder="xxx">
                    </div>

                </div>




                <div class="form-group">
                    <label for="inputAddress">Card Number</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="">
                </div>

                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2"
                        placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>

                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id = "submitButton"
                    style="background-color: #9cd6c0; border-color:#9cd6c0">Send Order</button>
                </form>

            </div>

        </div>

    </div>


</div>

