 
 <div class = "backgroundMain">
 <div class="coffeeButton" style="text-align: center">
        

      <button class="orderCoffeeButton" href="#">Order A Coffee</button>

      <div class="card mb-3 mx-auto mainCard" style="max-width: 540px;">
  <div class="row no-gutters">
    
    <div class="col-md">
      <div class="card-body">
        <h1 class="card-title">Welcome to ChitChat Coffee!</h1>
        <br>
        <br>
        <p class="card-text">Try out new seasonal coffee beverages, only available for a limited time!</p>
        <br>
        <br>
        <p class="card-text"><small class="text-muted">Last updated 01/2020</small></p>
      </div>
    </div>
  </div>
</div>

      
   <div class="bottomer"> </div>

</div>
</div>