<div class="container manageAccount">
            <div class="row">
              <div class="col"> <div class="accItem personsName">{{trip.username}}</div><div class="accItem proPic"></div></div>
              <div class="col eAndP">
                  <div class="row"><div class="accItem">Email:</div><div class="accItem accItemContent accEmail">{{trip.email}}</div><i class="fas fa-edit accItem"></i></div>
                  <div class="row"><div class="accItem">Phone Number:</div><div class="accItem accItemContent accPhoneNum">{{trip.phone}}</div><i class="fas fa-edit accItem"></i></div>
              </div>
              <div class="w-100"><hr class="manageDivider"></div>
              
              <div class="col"><div class="accItem orderHist">Order History</div>
              <div class="accItem itemList">
                  <div class="row"><div class="accItem"><div class="itemTitle">Pour Over</div><div class="accItem coffeePic products"></div></div><div class="accItem"><div class="itemTitle">Latte</div><div class="accItem lattePic products"></div></div><div class="accItem"><div class="itemTitle">Espresso</div><div class="accItem espressoPic products"></div></div><div class="accItem"><div class="itemTitle">Pour Over</div><div class="accItem capPic products"></div></div></div>
            </div>
             
            </div>
          </div>
          </div>