<div class="container manageAccount">
            <div class="row">
              <div class="col"> <div class="accItem personsName">{{trip.username}}</div><div class="accItem proPic"></div></div>
              <div class="col eAndP">
                  <div class="row"><div class="accItem">Email:</div><div class="accItem accItemContent accEmail">{{trip.email}}</div><i class="fas fa-edit accItem btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"></i></div>
                  <div class="row"><div class="accItem">Phone Number:</div><div class="accItem accItemContent accPhoneNum">{{trip.phone}}</div><i class="fas fa-edit accItem btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"></i></div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br>

         <div class="input-group mb-3">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
  </div>
  <input type="text" class="form-control" placeholder="Phone Number" aria-label="Username" aria-describedby="basic-addon1">
</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

              </div>
              <div class="w-100"><hr class="manageDivider"></div>
              
              <div class="col"><div class="accItem orderHist">Order History</div>
              <div class="accItem itemList">
                  <div class="row"><div class="accItem"><div class="itemTitle">Pour Over</div><div class="accItem coffeePic products"></div></div><div class="accItem"><div class="itemTitle">Latte</div><div class="accItem lattePic products"></div></div><div class="accItem"><div class="itemTitle">Espresso</div><div class="accItem espressoPic products"></div></div><div class="accItem"><div class="itemTitle">Pour Over</div><div class="accItem capPic products"></div></div></div>
            </div>
             
            </div>
          </div>
          </div>