
<div class="row">
        <div class="col-2">
            <h3>Drinks</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <p>Hot Coffees</p>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <p>Hot Chocolates</p>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <p>Hot Teas</p>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <p>Iced Drinks</p>
            </div>

            <h3>Pastries</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <p>Cookies</p>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <p>Muffins</p>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <p>Cupcakes</p>
            </div>
        </div>

        <div class="col">
            <h1>Drinks</h1>
            <div class="container">
                <h2 id="hotCoffees">Hot Coffees</h2>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="DrkRstCoffee" height="175" width="175">
                        <p>Dark Roast Coffee</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="Latte" height="175" width="175">
                        <p>Latte</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="Mocha" height="175" width="175">
                        <p>Mocha</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="Cappuccino" height="175" width="175">
                        <p>Cappuccino</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div> 
            </div>
    
            <div class="container">
                <h2 id="hotChocolates">Hot Chocolates</h2>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="HotChoco" height="175" width="175">
                        <p>Hot Chocolate</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="WhtChoco" height="175" width="175">
                        <p>White Hot Chocolate</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="PepHotChoco" height="175" width="175">
                        <p>Peppermint Hot Chocolate</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="PepWhtChoco" height="175" width="175">
                        <p>Peppermint White Hot Chocolate</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div> 
            </div>

            <div class="container">
                <h2 id="hotTeas">Hot Teas</h2>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="EngBrkTea" height="175" width="175">
                        <p>English Breakfast Tea</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="PeachTea" height="175" width="175">
                        <p>Peach Tea</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="ChaiLat" height="175" width="175">
                        <p>Chai Latte</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="MtchGrnTeaLat" height="175" width="175">
                        <p>Matcha Green Tea Latte</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div> 
            </div>

            <div class="container">
                <h2 id="icedDrinks">Iced Drinks</h2>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="IcedCoff" height="175" width="175">
                        <p>Iced Coffee</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="IcedLat" height="175" width="175">
                        <p>Iced Latte</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="IcedCarMacc" height="175" width="175">
                        <p>Iced Caramel Macchiato</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="https://previews.123rf.com/images/volff/volff1209/volff120900030/15095938-coffee-cup-and-saucer-on-a-white-background-.jpg" alt="IcedMoch" height="175" width="175">
                        <p>Iced Mocha</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div> 
            </div>

            <h1>Pastries</h1>
            <div class="container">
                <h2 id="cookies">Cookies</h2>
                <div class="row">
                    <div class="col">
                        <img src="http://stock-image.mediafocus.com/images/previews/chocolate-cookies-isolated-on-white-background-sb112554.jpg" alt="SugarCook" height="175" width="175">
                        <p>Sugar</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="http://stock-image.mediafocus.com/images/previews/chocolate-cookies-isolated-on-white-background-sb112554.jpg" alt="ChocoChipCook" height="175" width="175">
                        <p>Chocolate Chip</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div>
            </div>

            <div class="container">
                <h2 id="muffins">Muffins</h2>
                <div class="row">
                    <div class="col">
                        <img src="http://stock-image.mediafocus.com/images/previews/chocolate-cookies-isolated-on-white-background-sb112554.jpg" alt="SugarCook" height="175" width="175">
                        <p>Blueberry</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="http://stock-image.mediafocus.com/images/previews/chocolate-cookies-isolated-on-white-background-sb112554.jpg" alt="ChocoChipCook" height="175" width="175">
                        <p>Banana Nut</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div>
            </div>

            <div class="container">
                <h2 id="cupcakes">Cupcakes</h2>
                <div class="row">
                    <div class="col">
                        <img src="http://stock-image.mediafocus.com/images/previews/chocolate-cookies-isolated-on-white-background-sb112554.jpg" alt="SugarCook" height="175" width="175">
                        <p>Red Velvet</p>
                        <button id="btnOrder">Order</button>
                    </div>
                    <div class="col">
                        <img src="http://stock-image.mediafocus.com/images/previews/chocolate-cookies-isolated-on-white-background-sb112554.jpg" alt="ChocoChipCook" height="175" width="175">
                        <p>Chocolate</p>
                        <button id="btnOrder">Order</button>
                    </div>
                </div>
            </div>
        </div>
</div>

<script type="javascript/text" src="/assets/js/menu.js"> //Functionality for showing cart items

</script>


     
              
                <!--//////////////////////////CONTENT BEGIN//////////////////////////-->

                <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" id="productModalTitle">Edit Product - Product Name</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">




                                <div class="row firstRow notLastRow">
                                    <div class="col-md-4 productPicture">
                                        <div id="pictureBox">


                                        </div>
                                    </div>
                                    <div class="col-md-8 productTextInputs">
                                        <div class="row subRow">
                                            <!-- TEMP SELECTION-->
                                            <div class="col-md-6 productTemp priceCalc" question = "0" >
                                                <div class="form-check " id="icedSelection" title="Iced" >
                                                    <input class="form-check-input " type="radio" name="tempSelection"
                                                        id="icedDrinkRadio" value="icedDrink" >
                                                    <label class="form-check-label" for="icedDrinkRadio">
                                                        Iced - $0.50
                                                    </label>
                                                </div>
                                                <div class="form-check" id="hotSelection" title="Hot">
                                                    <input class="form-check-input " type="radio" name="tempSelection"
                                                        id="hotDrinkRadio" value="hotDrink">
                                                    <label class="form-check-label" for="hotDrinkRadio">
                                                        Hot - $0.00
                                                    </label>
                                                </div>

                                                <div class="form-check form-check">


                                                </div>

                                            </div>
                                            <!-- SIZE SELECTION-->
                                            <div class="col-md-6 productSize priceCalc" question = "1">
                                                <div class="form-check" id="smallSelection" title="Small" >
                                                    <input class="form-check-input " type="radio" name="sizeSelection"
                                                        id="smallDrinkRadio" value="smallDrink" >
                                                    <label class="form-check-label" for="smallDrinkRadio">
                                                        Small
                                                    </label>
                                                </div>
                                                <div class="form-check " id="mediumSelection" title="Medium" >
                                                    <input class="form-check-input" type="radio" name="sizeSelection"
                                                        id="mediumDrinkRadio" value="mediumDrink">
                                                    <label class="form-check-label" for="mediumDrinkRadio">
                                                        Medium - $0.25
                                                    </label>
                                                </div>
                                                <div class="form-check " id="largeSelection" title="Large">
                                                    <input class="form-check-input" type="radio" name="sizeSelection"
                                                        id="largeDrinkRadio" value="largeDrink">
                                                    <label class="form-check-label" for="largeDrinkRadio">
                                                        Large - $0.50
                                                    </label>
                                                </div>
                                                <div class="form-check " id="xLargeSelection" title="X-Large">
                                                    <input class="form-check-input" type="radio" name="sizeSelection"
                                                        id="xLargeDrinkRadio" value="xLargeDrink">
                                                    <label class="form-check-label" for="xLargeDrinkRadio">
                                                        X-Large - $0.75
                                                    </label>
                                                </div>

                                                <div class="form-check form-check">


                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row secondRow productRow " id="addQuestionsRow">
                                    
                                </div>

                                <div class="row finalRow productRow" id="priceRow">
                                    <div class="col-md-6" id = "renderItems">
                                        <div class="row">
                                            <h2>Items:</h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" id = "itemizeProductName">Product Name</div>
                                            <div class="col-md-6" id = "itemizeProductPrice">$2.30</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" id = "itemsTempTitle">Temp</div>
                                            <div class="col-md-6" id = "itemsTempPrice">$0.00</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6" id = "itemsSizeTitle">Size</div>
                                            <div class="col-md-6" id = "itemsSizePrice">$0.00</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <h2>Total Price:</h2>
                                        </div>
                                        <div class="row">
                                            <div id="priceBox">
                                                $2.80
                                            </div>
                                        </div>

                                    </div>

                                </div>








                                <!--
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal" data-whatever="@mdo">Open modal for @mdo</button>
    -->


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="addProductToCart">Add
                                    to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>


