<div class="row">
        <div class="col-2">
            <h3>Merchandise</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input">
                  </div>
                </div>
                <p>clothing</p>
            </div>
        </div>

        <div class="col">
            <h1>Merchandise</h1>
            <div class="container">
                <h2 id="merchandise">Clothing</h2>
                <div class="row">
                    <div class="col">
                        <img src="https://static.wixstatic.com/media/b4bfd9_0217fb4ae9a0441cbedbfe42f3070480~mv2.jpg/v1/fill/w_293,h_293,al_c,q_80,usm_0.66_1.00_0.01/b4bfd9_0217fb4ae9a0441cbedbfe42f3070480~mv2.webp" alt="whiteShirt" height="175" width="175">
                        <p>White T-Shirt</p>
                        <button id="shirtBtn">Add To Cart</button>
                    </div>
                    <div class="col">
                        <img src="https://static.wixstatic.com/media/b4bfd9_7b7767c8f4f94fe085d51faa7b55bc85~mv2.jpg/v1/fill/w_293,h_293,al_c,q_80,usm_0.66_1.00_0.01/b4bfd9_7b7767c8f4f94fe085d51faa7b55bc85~mv2.webp" alt="whiteCap" height="175" width="175">
                        <p>White Cap</p>
                        <button id="capBtn">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>