<div class="container-fluid">

     <div class="row"> 
        <div class="col-sm-6"> 
          <div class="card " style="width: 100%">
              <h5 class="card-header mt-2"> ORDER NO:<span>&nbsp 3</span></h5>
              <div class="card-body">
                        <img class="imgAdmin mt-0" src="/assets/images/ButterCroissant.jpg">
                        <h5 class="card-title ">&nbsp&nbsp Product:&nbsp&nbsp<span>ICED AMERICANO</span></h5>
                        <h5 class="card-title">&nbsp&nbspSize:&nbsp&nbsp<span>LARGE</span></h5>
                        
              </div>

              <div class="card" style="width:100%">
                    <h5 class="card-header">Jeff Bieber <a href="#" class="btn btn-success btn-sm">COMPLETE</a> <a href="#" class="btn btn-danger btn-sm">CANCEL</a></h5> 
                    <div class="card-body">
                       <h5 class="card-title">Customer ID:&nbsp<span>123456</span></h5>
                       <h5 class="card-title">Phone#:&nbsp <span>123-234-2344</span></h5> 

                   </div> 
              </div>

              <div class="card" style="width:100%">
                    <h5 class="card-header">#Items in Order Left:&nbsp<span>1</span><br>
                                            #Total Orders Left:&nbsp<span>35</span></h5> 
                    <div class="card-body">
                       <h5 class="card-title ml-2">Estimated Time:&nbsp<span>5 min</span></h5>
                       <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                                         40%
                            </div>
                        </div>
                    </div>   
               </div>       
           </div>
        </div> 


        <div class="col-sm-6">
              <!--Will be Dymanically Generated-->
              <!--Card-->

              <div class="card mt-2" style="width: 35rem">
                    <h5 class="card-header">ADD INS</h5>
                    <div class="card-body">
                        <h5 class="card-title">Creamer:</h5>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                                <label class="form-check-label" for="inlineCheckbox1">%1 Milk</label>
                       </div>
                       <h5 class="card-title">Sweetener:</h5>
                      <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"checked disabled>
                            <label class="form-check-label" for="inlineCheckbox2">Stevia</label>
                     </div>

                    <h5 class="card-title">Espresso/Shot Option:</h5>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked disabled>
                        <label class="form-check-label" for="inlineCheckbox3">3 Shots</label>
                    </div>
                    <h5 class="card-title">Others</h5> 
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" checked disabled>
                        <label class="form-check-label" for="inlineCheckbox3">Decaf</label>
                    </div>
                </div>
            </div>

            <div class="card mt-2" style="width: 35rem">
                    <h5 class="card-header">FLAVORS</h5>
                    <div class="card-body">
                        <h5 class="card-title">Sauces:</h5>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                                <label class="form-check-label" for="inlineCheckbox1">Mocha Sauce</label>
                       </div>
                       <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                                <label class="form-check-label" for="inlineCheckbox1">Caramel Sauce</label>
                       </div>

                       <h5 class="card-title">Syrups:</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                                <label class="form-check-label" for="inlineCheckbox1">Hazelnut Syrup</label>
                       </div>
                       <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                                <label class="form-check-label" for="inlineCheckbox1">Toffee Nut Syrup</label>
                       </div>
                    </div>
            </div>   

            <div class="card mt-2" style="width: 35rem">
                    <h5 class="card-header">TOPPINGS</h5>
                    <div class="card-body">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked disabled>
                                <label class="form-check-label" for="inlineCheckbox1">Sprinkles</label>
                       </div>    
                    </div>
             </div>              

        </div>   
    </div>
           
</div>  
  
        
	
	
    
    
    
    
    
    
    
    
    
    
    
    
   