*{
    font-family: Pacifico;
}
body{
    background-color:#ffffff !important;
    background-position:center !important;
    font-family:'Pacifico',Arial, Helvetica, sans-serif;
    font-size:1rem;
}

img{
    width:10rem;
    height:10rem;
    border-radius:50%;
    float:left;
    
}
.imgAdmin{
    width: 15%;
    height: 15%;
    border-radius:50%;

}
.detail{
   font-size:1rem;
}
.item{
    margin-left:2rem;
    font-size:1rem;
    font-family:'Pacifico'
}
.left{
    color:red;
    font-size:1rem;
    margin-left:2rem;
}

select,option{
    font-size:1.5rem;


}
.btn{
    margin-left:3rem;
    margin-bottom:1rem;
    padding:1rem;
}
.extra{
    position:absolute;
    right:6rem;
    font-size:1rem;
}
.h-divider{
   /* margin-right:2rem;*/
    height:1rem;
    width:100%;
    border-top:0.2rem solid #f48968;
   }

.subtotal,.Total,.Tax{
    /*position:absolute;*/
    margin-right:1rem;
    font-size:1rem;
   /* right:3rem;*/
 }
 .price,.sprice,.txvalue,.tvalue{
     /*right:2rem;*/
     font-size:1rem;
     margin-right:1rem;
 }

 .Total{
     border-top: 0.2rem dashed #f48968
 }
 
 
 #continue{
     /*left:1rem;*/
     margin-left:2rem;
     margin-top:1rem;
 }
 #checkout{
     /*right:3rem;*/
     margin-right:2rem;
     margin-top:1rem;
 }
 span{
     font-size:1.5rem;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }
 p{
     font-family:Pacifico;
     font-size:1.5rem;
 }
 .btn-success,.btn-danger{
    font-family:Arial;
     
 }
 table {
    table-layout: fixed;
    word-wrap: break-word;
 } 
 td{
     width:2rem;
     text-align:center;
 }
 /********************LOGIN IN***************/
 #signbg{
     width:100%;
     height:100%;
     background-image:url('/assets/images/defocused.jpg');
 }

 #sign-in-container{
    background-color:#f48968; 
    color: black;
    padding: 2rem;
    margin:0 auto;
    box-shadow: 5px 10px #888888
    /*border-radius: 2px;*/
 }   
  #siginSubmit{
      font-family:'Pacifico' !important;
      border-radius:0.5rem !important

  }  
 .login{
     border:0.2rem solid #888888;
     margin:10rem auto;
     padding:2rem;
     border-radius: 20%;

 }
 .signin{
 border-radius:10%;
 }
 .signin label{
     font-size:1rem;
     text-align:left;
     padding:0.2rem;
 }

 .signin input[class="form-control"]{
     text-align:center;
     border-radius:20%;
     font-size:1rem;
 }
 .signin input[class="text-muted"]{
    text-align:center;
    border-radius:20%;
    font-size:2rem;
}
  
  .login-help{
    font-size: 1rem;
  }
  
  /* Login CSS End */
  /****************** Registration css */
  #registration-container,#signin-container {
    padding: 1.5rem;
    /*background-color:#9cd6c0;*/
    background-image: url('/assets/images/defocused.jpg');
    font-size:1rem;
    
  }
  .input_field{
      margin:auto;
      border-style:ridge;
      border-color:#4CAF50;
      font-family:'Pacifico';
      display: inline-block;
  }
  /* Full-width input fields */
input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding:0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus,input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1rem solid #f1f1f1;
    /*margin-bottom: 25px;*/
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    cursor:pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
  nav{
      background-color:#ffafbc;
  }
  /*/////////////////////////////////////////////////*/
 @media only screen and (max-width: 600px) {
    .extra {
      margin-top:1rem;
      margin-bottom:1rem;
    }
    .quantity{
        margin-top:5rem;
    }
    #continue{
        position:relative;
        bottom:-5rem;
        flex:none;

       
    }
    #checkout{
        position:relative;
        bottom:0.7rem;
        margin-right:1rem;
        flex:none;
       
    }
    
 }  
