{{> nav }}
<div id="registration-container" class="container-fluid d-flex align-self-center">
    	
			<div class="col-xs-12 col-md-6 input_field ">
				<h3>Registration</h3>
				
				<div id="username-form" class="form-group col-lg-12">
					<label>User Full Name</label>
					<input type="text" name="" class="form-control" id="username-input" value="">
					<small id="username-feedback" class=""></small>
				</div>
				
				<div id="password-form" class="form-group col-lg-12">
					<label>Password</label>
					<input type="password" name="" class="form-control" id="password-input" value="">
					<small id="password-feedback" class=""></small>
				</div>
				
				<div id="repeat-password-form" class="form-group col-lg-12">
					<label>Repeat Password</label>
					<input type="password" name="" class="form-control" id="repeat-password-input" value="">
					<small id="repeat-password-feedback" class=""></small>
				</div>
								
				<div id="email-form" class="form-group col-lg-12">
					<label>Email Address</label>
					<input type="email" name="" class="form-control" id="email-input" value="">

				  <p id="email-feedback" class=""></p>
				  <small id="email-additional-feedback" class="form-text text-muted"></small>
				</div>
				
				<div id="email-repeat-form" class="form-group col-lg-12">
					<label>Repeat Email Address</label>
					<input type="email" name="" class="form-control" id="repeat-email-input" value="">
					<small id="email-repeat-feedback" class=""></small>
				</div>	

				<div id="phone-form" class="form-group col-lg-12">
					<label>Phone Number</label>
					<input type="text" name="" class="form-control" id="phone" value="(xxx)xxx-xxxx">
					<small id="phone-feedback" class=""></small>
				</div>				
				
				<button type="submit" class="btn btn-primary signup registerbtn">Register</button>		

				<div class="container signin">
    					<p>Already have an account? <a href="/users/login">Sign in</a></p>
  				</div>	
			
			</div>
		
				
				
		
</div>